<form method="post" action="{{ path('delete_szo', {'id': doc.id}) }}" onsubmit="return confirm('Вы уверены?');" style="display:none;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc.id) }}">
    <button class="btn btn-danger" id="delete_szo{{ doc.id }}">Удалить</button>
</form>